# Compiled files
*.o
*.so

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.bak

# Zsh history files
.zsh_history

# Node modules
node_modules/

# Python virtual environment
venv/
__pycache__/

# MacOS specific files
.DS_Store

# Backup files
*~
*.bak
*.old
*.orig
*.rej